#navbar {
    width: 100%;
	height: 50px;
    top : 12px;
	margin: 0;
    font-size: 20px;
	color: rgb(137, 199, 240);
    background: white;
    position : fixed;
    text-decoration: none;
}

#main {
    width : 100%;
    margin : 0;
    height : 600px;
    background-image:url(image/fly.JPG);
    background-size: 1450px 600px;
}

#join{
    top:40%;

}

.title{
    font-size:large
}

