#navbar {
    width: 100%;
	height: 50px;
	margin: 0;
	background: rgb(137, 199, 240);
    position : fixed;
    top : 0;
    width : 100%;
}

#main {
    width : 100%;
    margin : 0;
    height : 600px;
    background-image:url(image/fly.JPG);
    background-size: 1450px 600px;
}

