.header{
    width: 100%;
	height: 50px;
    top : 0px;
	margin: 0;
    background: white;
    /* position : fixed;  */
}


.header > .nav{
    width : 7%;
    text-align : center;
    font-size: 20px;
	color: rgb(137, 170, 219);
    display:inline-block;
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.header > .nav:hover {
    text-decoration: underline;
}

#home {
    width : 15%
}

/* navbar section */


/* should make main a whole page and jump to latter ones after hit join with me */
#main {
    width : 100%;
    margin : 0;
    height : 600px;
    background-image:url(image/fly.JPG);
    background-size: 1450px 600px;
    color : white;
    font-size : 60px
}

.title{
    margin-top: 0;
    padding-top: 200px;
    text-align : center;
    font-family : "Antic Didone";
}

.Join{
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align : center;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate2 */

#botton{
    background-color: rgba(255,255,255,0.5);
    transition-duration: 0.4s;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
}
/* hover does not work */
#button:hover {
    color: rgba(255,255,255,0.8);
  }

.highlight{
    color: rgb(137, 170, 219);
    width:40%;
    padding: 80px;
    text-align : center;
    font-size : 30px;
    font-family: 'Montserrat', sans-serif;
}

.place{
    color: rgb(137, 170, 219);
    width: calc(50% - 5px);
    display: inline-block;
    text-align : center;
}

/* Container needed to position the button. Adjust the width as needed */
.image {
    position: relative;
    /* width: 50%; */
  }
  
  /* Make the image responsive */
  .image img {
    width: 80%;
    height: auto;

  }
  
  /* Style the button and place it in the middle of the container/image */
  .image .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(137, 170, 219);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image .btn:hover {
    background-color: white;
  }


/* contact section */
.contacts > .contact {
    width : 20%;
    font-size: 20px;
	color: rgb(137, 170, 219);
    display:inline-block;
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#contact-me{
    width: 30%;
    text-align : center;
    padding: 0px;
}

#message{
    width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}

input[type=text]:focus {
    border: 3px solid rgb(137, 170, 219);
  }