/* navbar section */
/* 为啥多出去一截 */
.header{
    width: 100%;
	height: 50px;
    top : 0px;
	margin: 0;
    background: rgb(74,114,161);
    position : fixed; 
}


.header > .nav{
    width : 7%;
    text-align : center;
    font-size: 20px;
	color: white;
    display:inline-block;
    text-decoration: none;
    padding: 10px;
}

.header > .nav:hover {
    text-decoration: underline;
}

#home {
    width : 15%
}

/* navbar section */

#main {
    width : 100%;
    margin : 0;
    height : 600px;
    background-image:url(image/fly.JPG);
    background-size: 1450px 600px;
    color : white;
    font-size : 50px
}

.title{
    width: 70%;
    text-align : center;
}

.join{
    top:40%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.highlight{
    width:40%;
    text-align : center;
    font-size : 30px;
}

.highlight > .place{
    width: 40%;
}
